<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.BashaBook"
        tools:targetApi="31">
        <activity
            android:name=".MaloyModule1Activity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".KoreanModule1Activity"
            android:exported="false" />
        <activity
            android:name=".JapaniModule1Activity"
            android:exported="false" />
        <activity
            android:name=".AddLearnActivity"
            android:exported="false" />
        <activity
            android:name=".LearnLanguageActivity"
            android:exported="false" />
        <activity
            android:name=".AribicModule1Activity"
            android:exported="false" />
        <activity
            android:name=".KoreanActivity"
            android:exported="false" />
        <activity
            android:name=".JapaniActivity"
            android:exported="false" />
        <activity
            android:name=".MaloyActivity"
            android:exported="false" />
        <activity
            android:name=".ArobicActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"></activity>
    </application>

</manifest>